name: Build and Archive

on:
  push:
    branches:
      - main

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v6

      - name: Upload Artifact
        uses: actions/upload-artifact@v6
        with:
          name: wc-user-emails
          path: .
          compression-level: 9
